/* section preview */

.section-preview {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 0px;
    height: fit-content;
    margin-bottom: 80px;
}

.section-preview > * {
    max-height: 415px;
}

.preview_content {
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    max-width: 50%;
}

.preview-text__head {
    font-size: 40px;
}

.preview-text__common {
    font-size: 30px;
}

.preview_steps {
    padding: 45px 30px;
    width: fit-content;
    border: 3px solid var(--dark-text-color);
    border-radius: 5px;
    color: var(--dark-text-color);
    box-shadow: 12px 12px var(--dark-text-color);
}

@media (max-width: 1200px) {
    .section-preview {
        display: grid;    
        justify-items: center;    
        padding-top: 70px;
        height: fit-content;
    }

    .preview_content {
        display: grid;
        height: fit-content;
        gap: 50px;
        max-width: 100%;
        margin-bottom: 60px;
    }

    .preview-text__head {
        text-align: center;
    }

    .preview-text__common {
        text-align: center;

    }

    .button-preview {
        justify-self: center;
    }
}

@media (max-width: 1000px) {
    .preview_content {
        gap: 20px;
    }

    .preview-text__head {
        font-size: 28px;
    }

    .preview-text__common {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .preview-text__head {
        font-size: 24px;
    }

    .preview-text__common {
        font-size: 18px;
    }
}



/* sections present cards */

.section-cards-present {
    margin-bottom: 150px;
}

.cards-present_title {
    font-size: 36px;
    margin-bottom: 60px;
}

.card-present {
    position: relative;
    color: var(--dark-text-color);
    
    padding: 100px 44px; 
    margin-top: 100px;

    max-width: 458px;
    width: 458px;
    max-height: 480px;
    height: 480px;

    border: 3px solid #0A131F;
    border-radius: 30px;

    box-shadow: 24px 24px var(--card-color);
} 

.card-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.card-description {
    font-size: 24px;
}

.card-image {
    position: absolute;
    right: 19px;
    top: -47.5px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

@media (max-width: 1770px) {
    .card-present {
        padding: 80px 44px; 
    
        max-width: 48%;
        width: 48%;
        max-height: 480px;
        height: 480px;
    
        box-shadow: 14px 14px var(--card-color);
    } 
}

@media (max-width: 820px) {
    .card-present {
        padding: 50px 2ch; 
    
        max-width: 100%;
        width: 100%;
        max-height: 350px;
        height: fit-content;
    } 

    .card-image {
        height:  55px;
        width:  55px;
        top: -27.5px;
    }
}

/* sub sections */

.section-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background-color: var(--card-color);
    height: 390px;
    padding: 60px 20px 95px 20px;

    margin-bottom: 80px;

    font-size: 40px;

    border-radius: 30px;
}

.root-section-title {
    font-size: 36px;
    text-align: center;
}

@media (max-width: 1000px) {
    .section-sub {
        height: 300px;
        padding: 40px 20px 75px 20px;
    
        margin-bottom: 40px;
    
        border-radius: 15px;
    }
}

@media (max-width: 600px) {
    .section-sub {
        height: 250px;
        padding: 40px 20px 45px 20px;
    }
}

/* cases */

.section-cases {
    margin-bottom: 40px;
}

.cards-cases-text {
    font-size: 48px;
    margin-bottom: 80px;
}

.case-title {
    font-size: 34px;
    color: var(--blue-text-color);
    margin-bottom: 26px;
}

.case-description {
    font-size: 24px;
    color: var(--dark-text-color);
}

.container-cases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.case-present {
    max-width: 458px;
    width: 458px;
    height: 404px;

    padding: 70px 44px; 
    background-color: var(--card-color);
    border-radius: 30px;
}

@media (max-width: 1715px) {
    .case-present {
        max-width: 400px;
        width: 400px;
    
        padding: 40px 25px; 
    }
}

@media (max-width: 1510px) {
    .container-cases {
        flex-direction: column;
    }

    .case-present {
        max-width: 100%;
        width: 100%;

        margin-bottom: 20px;
        height: fit-content;
        border-radius: 15px;
    }
}

@media (max-width: 1000px) {
    .cards-cases-text {
        margin-bottom: 40px !important;
    }

}

@media (max-width: 600px) {
    .cards-cases-text {
        margin-bottom: 30px !important;
    }
}

/* Team preview */

.section-services {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--card-color);
    margin-bottom: 100px;
}

.services__preview {
    background-color: var(--main-page-color);
    border: 3px solid #101B30;
    border-left: none;
    border-radius: 0px 75px 75px 0px;

    width: 90.5%;

    padding: 70px 100px 70px 9.5%;
    margin-bottom: 100px;
}

.titile-services__preview {
    font-size: 36px;
    margin-bottom: 32px;
}

.description-services__preview {
    font-size: 28px;
}

.service-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    background: #FFFFFF;

    padding: 10px 20px;
    padding-right: 40px;
    border-radius: 50px;

    max-width: fit-content;
    height: fit-content;
    margin-right: 20px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 28px;
    color: var(--blue-text-color);
}

.service-star {
    margin-right: 10px;
}



.services-container {
    display: flex;
    flex-flow: row wrap;
}

@media (max-width: 1000px) {
    .service-star {
        height: 30px;
        width: 30px;
    }

    .section-services {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .services__preview {
        margin-bottom: 40px;
        border-radius: 0px 15px 15px 0px;
        width: 95%;
        padding-left: 10%;

    }
}

@media (max-width: 600px) {
    .service-star {
        height: 24px;
        width: 24px;
    }

    .services__preview {
        margin-bottom: 40px;
        padding-left: 5%;
    }
}



/* interview */


.cards-cases-text {
    font-size: 36px;
    margin-bottom: 126px;
}

.interview-name {
    font-size: 24px;
}

.container-interview {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.interview-description {
    font-size: 24px;
}

.container-cases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.interview-container-text {
    margin: 20px 20px;
}

.inteview-card {
    max-width: 317px;
    width: 317px;
    height: 586px;

    background-color: var(--main-page-color);
    border-radius: 20px;
    border: 3px solid var(--dark-color);
}

.interview-photo {
    object-fit: cover;
    width: 100%;
    margin: 0;
    border-radius: 20px;
    margin-top: -1px;
}


@media (max-width: 1630px) {
    .inteview-card {
        display: flex;
        flex-direction: row;

        max-width: 49%;
        width: 49%;
        min-width: 49%;
        height: 340px;

        margin-bottom: 40px;
    } 

    .interview-photo {
        width: 30%;
    }
}

@media (max-width: 940px) {
    .inteview-card {
        max-width: 100%;
        width: 100%;
        min-width: 100%;

        height: 280px;
    } 

    .interview-photo {
        width: 50%;
    }
}

@media (max-width: 360px) {
    .interview-name {
        font-size: 16px;
    } 

    .interview-description {
        font-size: 16px;
    }

    .interview-photo {
        width: 45%;
    }
}

/* section faq */

.section-faq {
    margin-bottom: 40px;
}

.faq-title {
    font-size: 36px;
    margin-bottom: 80px;
}

.container-faq {
    display: grid;

}

.message {
    border-radius: 20px;
    padding: 32px 26px;
    color: var(--dark-text-color);
    font-size: 24px;
    font-weight: 500;
    max-width: 55%;
    width: fit-content;
    margin-bottom: 20px;
}

.message_faq {
    justify-self: start;
    background-color: var(--card-color);
}

.message_answer {
    justify-self: end;
    background-color: var(--button-background-color);
    color: var(--main-page-color);
}

@media (max-width: 1000px) {
    .message {
        max-width: 70%;
    }

    .faq-title {
        margin-bottom: 60px;
    }

}

@media (max-width: 600px) {
    .message{
        width: 90%;
    }

    .faq-title {
        margin-bottom: 40px;
    }

}

/* medias */

/* font medias */
@media (max-width: 1000px) {
    .titile-services__preview, .card-title, .root-section-title, .interview-name, .case-title, .faq-title {
        font-size: 28px;
    }

    .description-services__preview, .service-card, .card-description, .interview-description, .case-description, .message {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .titile-services__preview, .card-title, .root-section-title, .interview-name, .case-title, .faq-title {
        font-size: 24px;
    }

    .description-services__preview, .service-card, .card-description, .interview-description, .case-description, .message {
        font-size: 18px;
    }
}
