{% load static %}
<footer>
    <div class="container container-centred">
        <div class="footer_top">
            <div class="footer_contacts">
                <h3 class="footer_title">
                    Контакты
                </h3>
                <p class="footer_text">
                    +7 (951) 490-41-26
                </p>
            </div>
            <div class="footer_location">
                <h3 class="footer_title">
                    Социальные сети
                </h3>
                <div class="footer_text">
                    <a href="https://vk.com/gangfv"><img src='{% static "images/svg/vk.svg" %}' alt=""></a>
                    <a href="https://t.me/gangfv"><img src='{% static "images/svg/telegram.svg" %}' alt=""></a>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="footer_bottom">
            <li class="footer_li">
                <a href="#services" class="footer_link">Услуги</a>
            </li>
            <li class="footer_li">
                <a href="#about_us" class="footer_link">О нас</a>
            </li>
            <li class="footer_li">
                <a href="#cases" class="footer_link">Кейсы</a>
            </li>
            <li class="footer_li">
                <a href="#faq" class="footer_link">FAQ</a>
            </li>
            <li class="footer_li">
                <a href="#contacts" class="footer_link">Контакты</a>
            </li>
        </div>
    </div>
</footer>
