{% load static %}

<header>
    <div class="container header-container">

    <span class="header-text">
        <span class="text-bold text-future">Future</span><span class="text-strinify">View</span>
    </span>
    
    <svg onclick="openHeaderMenu()" class="menu-burger__closed" width="37" height="29" viewBox="0 0 37 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="37" height="6.10526" rx="1.48958" fill="#0076FE"/>
        <rect y="11.4473" width="37" height="6.10526" rx="1.48958" fill="#0076FE"/>
        <rect y="22.8948" width="37" height="6.10526" rx="1.48958" fill="#0076FE"/>
    </svg>
              
    </div>
</header>